*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.pie-container{
    margin-top: 40rem;
    margin-right: 43rem;
    position: fixed;
}